@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body{
  font-size: 2rem;
}
body {
  // background: linear-gradient(190deg, #E73C7E,#EE7752, #23D5AB, #23A6D5,  #000);
  background: #EEE;
  color: black;
  background-attachment: fixed;
  background-position: 0% 80%;
  background-size: 100% 500%;
  font-family: 'Avenir', sans-serif;
  transition: all 1s ease-in .3s;
  // animation: fade-in ease 0.8s forwards;

  .spinner {
    width: 500px;
    height: 500px;
    margin:  auto;
    font-size: 50px;
    animation: fade-in ease 0.8s forwards;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

main {
  
  h1 {
    text-align: center;
    margin:0;
    font-size: 16px;;
  }
  .chart {
    width: 50%;
    height:100vh;
    margin: 0 auto;
    animation: fade-in ease 0.8s forwards;
  }
  canvas {
   
  }
}